{{ attach_library('module_nestle_drupal_integration/ndi-style') }}
<h4>{{ title }}</h4>
<ol>
  {% for item in items %}
    <li class="animated {{ random(['bounce', 'flash', 'rubberBand', 'shake', 'jello', 'tada', 'bounceIn', 'rollIn']) }}">{{ item.name }}</li>
  {% endfor %}
</ol>
<strong>This is coming from our custom twig file.</strong>
